<div class="col-sm-8 blog-main">

  <% if logged_in?(:site_admin) %>
    <%= render 'shared/blog_admin' %>
  <% end %>

  <%= paginate @blogs %>

  <%= render @blogs %>

  <%= paginate @blogs %>

</div>
