<div class="app-card-container">
  <div class="card card-body card-style">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <%= image_tag "selfimage.jpg", alt: "profile image", class: 'img-responsive' %>
      </div>

      <div class="col-md-6">
        <p>
          Hi! My name's Scott. I figured you already knew that much though, since you've made it to my portfolio website.

          I am currently working as an L1 Support Engineer at Instructure. I have experience with Python, Ruby, Rails, and HTML + CSS. I have some experience in C++ and Javascript as well.

          Being able to create beautiful apps is my passion. I am alway learning and am always on the lookout for new technologies that catch my interest.
      
        </p>

        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#jobHistory" aria-expanded="false" aria-controller="jobHistory">
            Job History
          </button>
        </p>
        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block job-item">
              L1 Support Engineer | Instructure | 01/2018 - Present
            </div>
            <div class="card card-block job-item">
              Field Technician | Groove Entertainment | 10/2016 - 01/2018
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
