<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">I beleive in simple, easy to use software that makes for a great user experience. Please feel free to browse my portfolio and checkout some of my work.
  </p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>
